<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="card">
        <h1 class="titulo">Bem vindo de novo!</h1>

        <div class="form">
        <form action="/logar">
            <label for="email">Email:</label>
            <input type="text" id="email" placeholder="insira seu email"/>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" placeholder="insira sua senha"/>

           <a href="inscrever"><h3><u>Fazer cadastro</u></h3></a>
            <button class="botao">Entrar</button>
        </form></div>
      
    </div>

</body>

</html>